.root {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.button {
    border-radius: 24px;
    border-color: rgba(0, 0, 0, 0);
    width: calc(100% - 40px);
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(20, 198, 86);
    border-width: 0px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    svg {
        font-size: larger;
    }
}