.root {
    background-color: rgb(9, 94, 84);
    display: flex;
    padding: 20px 16px;
}

.close_btn {
    color: #f0ffffa1;
    cursor: pointer;
    font-size: 1em;
    position: absolute;
    right: 8px;
    top: 8px;
}

.logo {
    align-items: center;
    align-self: center;
    background: #fff;
    border-radius: 50%;
    color: cadetblue;
    display: flex;
    font-size: 2em;
    height: 52px;
    justify-content: center;
    width: 52px;
    background-color: #f7f7f7;
    position: relative;
}

.logo::before {
    content: "";
    bottom: 0px;
    right: 0px;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    background-color: rgb(74, 213, 4);
    display: block;
    border: 2px solid rgb(9, 94, 84);
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.texts {
    color: rgb(255, 255, 255);
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texts_h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    display: block;
}

.texts_span {
    font-size: 13px;
    line-height: 18px;
    margin-top: 4px;
}